%h3 Nouveau Site
%form{:method => "post", :action => "/", :enctype => "multipart/form-data"}
  %table
    %tr
      %td
        %label{ 'for' => 'titre'} Titre
      %td
        %input{:type=>'text', :size=>40, :name=>'titre', :id=>'site-titre', :value => @site.titre}
    %tr
      %td
        %label{ 'for' => 'route'} Route
      %td
        %input{:type=>'text', :size=>40, :name=>'route', :value => @site.route}
    %tr
      %td
        %label{ 'for' => 'image'} Image
      %td
        %input{ :type => 'file', :name => 'image' }
    %tr
      %td{ "colspan" => 2}
        %label{ 'for' => 'caption'} Caption
    %tr
      %td{ "colspan" => 2}
        %textarea{:cols=>42, :rows => 6, :name=>'caption', :id=>'site-caption'}
          =@site.caption
    %tr
      %td
        %label{ 'for' => 'tips'} Tips
      %td
        %input{:type=>'text', :size=>40, :name=>'tips', :id=>'site-tips', :value => @site.tips}
    %tr
      %td
        %label{ 'for' => 'annee'} Annee
      %td
        %input{:type=>'text', :size=>40, :name=>'annee', :id=>'site-annee', :value => @site.annee}
    %tr
      %td{ "colspan" => 2}
        %input{:type=>'submit', :value=>'Nouveau Site'}
    %tr
      %td{ "colspan" => 2}
        = "<p>#{@vignette_error}</p>"
        - @site.errors.each do |error|
          -if error.is_a?(Array)
            -error.each do |message|
              ="<p>" + message + "</p>"
          -else
            =error
